body 
{
  padding-top: 50px;
  background-color: #66BFB7;
  /*background-image: ;*/
}

#mapArea
{
    width: 100%;
    height:  480px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left:auto;
	margin-right:auto;
}

.mainContainer
{
	width:800px;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	/*margin-top:10px;*/
	/*border:2px solid black;*/
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	/*border-radius:5px;*/
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.8);
}

.textPadding
{
	padding: 20px;
}
